
.jumbotron {
	overflow:visible; //let content overflow
}

#jumbotron-content {
	display: inherit;
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 900px) {
	#homePanel { 
		display: inherit;
	}
}
